In [3]:
l2=[1,2,3,4,5]
l2

[1, 2, 3, 4, 5]

In [2]:
l1=[1,2,3,4]
l1

[1, 2, 3, 4]

In [4]:
l1.clear()
l1

[]

In [15]:
l1=l2.copy()
l1,l2

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [6]:
l1.count(1)

1

In [7]:
l1.index(1,1,100)

ValueError: 1 is not in list

In [13]:
l1.reverse()
l1

[5, 4, 3, 2, 1]

In [16]:
l1=[1,2,3,4]
list(l1.reverse())

TypeError: 'NoneType' object is not iterable

In [18]:
l1=[10,2,3,40,50]
sort(l1,reverse())

NameError: name 'sort' is not defined

<b> append</b>
- append means add an element at last
-

In [22]:
l=['Apple', 'Banana', 'Cherry', 'Dairy Milk']
l

['Apple', 'Banana', 'Cherry', 'Dairy Milk']

In [34]:
l1=[]
l1.append(10)
l1.append(20)
l1.append(30)
l1.append('apple')
l1.append('')

l1

[10, 20, 30, 'apple', '']

In [35]:
l=[]
for i in range(1,4):
    print(i)
    l.append(i)
l

1
2
3

[1, 2, 3]

In [38]:
for i in range(len(l)):
    print(i)

0
1
2

In [46]:
l=['hyd', 'bengaluru', 'mumbai', 'chennai']
for i in range(len(l)):
    l[i]= l[i].title()
    # print(l[i].title())
l

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [50]:
l=['hyd', 'bengaluru', 'mumbai', 'chennai']
for i in range(len(l)):
    l[i]=l[i].upper()
l

['HYD', 'BENGALURU', 'MUMBAI', 'CHENNAI']

In [5]:
#Q1: [2,3,30,40,50,6,7]
# fi

#Q13 [202,301,405,607,590,320,140,50]
#
l13=[202,301,405,607,590,320,140,50]
# l13
for i in range(len(l13)):
    print(l13[i])

202
301
405
607
590
320
140
50

In [18]:
l=['Apple', 'Banana','Cherry', 'Milk', 'Tea']
print(l)
id=l.index('Banana')
l.pop(id)

['Apple', 'Banana', 'Cherry', 'Milk', 'Tea']

'Banana'

In [24]:
l=['Apple', 'Banana','Cherry', 'Milk', 'Tea']
print(l)
l,l.remove('Banana')

['Apple', 'Banana', 'Cherry', 'Milk', 'Tea']

(['Apple', 'Cherry', 'Milk', 'Tea'], None)

- pop takes index
- remove takes direct element name
  - taking element name advantage
  - only first element only drop
- when we want to drop second element use pop

In [40]:
l1=[10,20,30]
l2=['A', 'B', 'C']
l3=l1.copy()
print(l1,l2)
#append
for i in range(len(l2)):
    l1.append(l2[i])

print(l1,l2)


print(l3,l2)
for i in range(len(l2)):
    l2[i]=l2[i]+l1[i]


print(l3,l2)

[10, 20, 30] ['A', 'B', 'C']
[10, 20, 30, 'A', 'B', 'C'] ['A', 'B', 'C']
[10, 20, 30] ['A', 'B', 'C']

TypeError: can only concatenate str (not "int") to str

In [41]:
# dir(str)

In [51]:
l1=[10,20,30]
l2=['A', 'B', 'C']
# l1.append(l2)
l1.extend(l2)
l2.extend(l1)
print(l1,l2)

dir([])

[10, 20, 30, 'A', 'B', 'C'] ['A', 'B', 'C', 10, 20, 30, 'A', 'B', 'C']

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [59]:
l=['A', 'B', 'C']
print(l)
del(l)
# print(l)

['A', 'B', 'C']

# $List comprehension

In [3]:
Input=['Hyderbad', 'Banglore', 'Chennai']
Output=[i.lower() for i in Input]

Input,Output

(['Hyderbad', 'Banglore', 'Chennai'], ['hyderbad', 'banglore', 'chennai'])

In [6]:
Input=[20,21,30,31,34]
even=[]
for i in Input:
    if i%2==0:
        even.append(i)

even

[20, 30, 34]

In [10]:
Input=[20,21,30,31,34]
even=[i for i in Input if i%2==0]
odd=[i for i in Input if i%2==1]
even,odd

([20, 30, 34], [21, 31])

In [14]:
Input=['hyd', 'bengaluru', 'mum#bai', 'chen#nai']
output=[i for i in Input if '#' in i]
# output=[]
# for i in Input:
#     if '#' in i:
#         output.append(i)
        
output

['mum#bai', 'chen#nai']

In [20]:
Input=['hyd', 'bengaluru', 'mum#bai', 'chen#nai']
output=[ i+' has #' if '#' in i else i for i in Input]
output

['hyd', 'bengaluru', 'mum#bai has #', 'chen#nai has #']

In [22]:
Input=[20,21,30,31,34]
out=[]
for i in Input:
    if i%2==0:
        out.append(f'even_{i}')
    else:
        out.append(f'odd_{i}')

out

['even_20', 'odd_21', 'even_30', 'odd_31', 'even_34']

In [29]:
Input=[20,21,30,31,34]
out=[ f'even_{i}' if i%2==0 else f'odd_{i}'  for i in Input]
out

['even_20', 'odd_21', 'even_30', 'odd_31', 'even_34']

# $Case3: list comprehension

# [<if out> <if cond> else <else out> <for loop>]

In [34]:
Input=[20,21,30,31,34]
out=[]

#[<output> <for loop>]
[<out> <for loop> <if cond>]


# Rule-1: there is no elif
            # else if
# Rule-2: if after else
# Rule-3: else after output

SyntaxError: invalid syntax (714461720.py, line 5)

In [40]:
Input=[50,70,91]
out=[]
for i in Input:
    if i>90:
        out.append('A')
    elif i>=60:
        out.append('B')
    else:
        out.append('C')
out

['C', 'B', 'A']

In [42]:
Input=[50,70,91]
out=[ 'A' if i>90 \
      else 'B' if i>60 \
     else 'C' for i in Input]
out

['C', 'B', 'A']

In [54]:
Input=[1, 0, -1,-2,2, 0, -3,3, 0, -4,4]

neg=[i  for i in Input if i<0]
pos=[i for i in Input if i>0]
zero=[i for i in Input if i==0]
neg,zero, pos

([-1, -2, -3, -4], [0, 0, 0], [1, 2, 3, 4])

In [56]:
summ=0
for i in range(1,11):
    summ=summ+i
print(summ)

55

In [62]:
summ=0
[summ:=summ+i for i in range(1,11)]
summ

55

In [70]:

[summ:=0 summ:=summ+i for i in range(1,11)][-1]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1593638402.py, line 1)

In [87]:
marks=[45,76,89,53,67,90,82,49,33,99]
#pass
a=[i for i in marks if i>=50]
a

#grade
b=[ 'A' if i>=85 else 'B' if i>=70 else 'C' if i>=50 else 'F' for i in marks]
b

#add 5 grace marks
c=[i+5 if i<50 else i for i in marks ]
c

#top 3 scorer
marks.sort()
d=[ marks[i] for i in range(-3,0) ]
d

[89, 90, 99]