In [1]:
#input

In [3]:
number=100 # hard corded
number

100

In [4]:
input()

 120

'120'

In [5]:
input()

 500

'500'

In [6]:
input()
input()
input()

 omkar
 male
 10

'10'

In [7]:
input()
input()
input()

 Omkar sir
 Male
 10

'10'

In [8]:
input()
input()
input()
input()

 Omkar isr
 Male
 20
 Hyderabad

'Hyderabad'

In [9]:
input()
input()
input()
input()
input()

 Omkar isr
 Male
 20
 Hyderabad
 Ds trainer

'Ds trainer'

In [10]:
n1=input()

 100

In [11]:
n1

'100'

In [13]:
n1=input("enter a value")
name=input("enter a name")

enter a value 100
enter a name python

In [15]:
n1=input('enter a value:')
name=input('enter a name:')

enter a value: 100cr
enter a name: Omkar sir

In [16]:
n1,name

('100cr', 'Omkar sir')

In [17]:
n1=100
n2=200
n1+n2

300

In [18]:
n1=input('enter n1:')
n2=input('énter n2:')
n1+n2

enter n1: 100
énter n2: 200

'100200'

In [19]:
n1=input('énter n1:')
n2=input('énter n2:')
n1+n2

énter n1: 100
énter n2: 200

'100200'

In [20]:
n1=input('énter n1:')
n2=input('énter n2:')
n1+n2

énter n1: 100
énter n2: 300

'100300'

In [23]:
n1=int(input('énter n1:'))
n2=int(input('énter n2:') )      
n1+n2

énter n1: 100
énter n2: 200

300

In [24]:
input('enter n1:');

enter n1: 100

In [28]:
int(input('énter n1'))

énter n1 10.0

ValueError: invalid literal for int() with base 10: '10.0'

In [34]:
n1=int(input("enter n1:"))
n2=int(input('enter n2:'))
n1+n2

enter n1: 10
enter n2: 20

30

In [37]:
n1=int(input('enter a number1:'))
n2=float(input('enter a number2:'))
n1+n2

enter a number1: 10
enter a number2: 20.3

30.3

In [38]:
eval('100')

100

In [40]:
eval('200.5')

200.5

In [41]:
n1=eval(input('enter a number1:'))
n2=eval(input('enter a number2:'))
print(n1,n2)

enter a number1: 100
enter a number2: 200.5

100 200.5

In [42]:
int('100')
int('100.5')

ValueError: invalid literal for int() with base 10: '100.5'

In [43]:
n1=11
n2=20
n3=30
avg=(n1+n2+n3)/3
avg1=round(avg,2)
print(f'the average of {n1}, {n2} and {n3} is {avg1}')

the average of 11, 20 and 30 is 20.33

In [45]:
n1=eval(input('enter n1:'))
n2=eval(input('enter n2:'))
n3=eval(input('enter n3:'))
avg=(n1+n2+n3)/3
avg1=round(avg,2)
print(f'the average of {n1}, {n2} and {n3} is:{avg1} ')

enter n1: 10
enter n2: 20.5
enter n3: 33.33

the average of 10, 20.5 and 33.33 is:21.28

In [54]:
# wap ask the user take two number print subtraction multiplication and division
n1=eval(input('enter no1:'))
n2=eval(input('enter no2:'))
print(f'substraction: {round(n1-n2,2)}, multiplication:{round(n1*n2,2)}, division:{round(n1/n2,2)}')

enter no1: 10.2
enter no2: 23.4

substraction: -13.2, multiplication:238.68, division:0.44

In [56]:
# wap ask the user take the radius find the area of circle
    # pi=3.14
    # r=100
   # area_of_circle=pi*r*r
r=eval(input('enter radius of circle:'))
pi=3.14
area_of_circle=pi*r*r
print(f'area of circle: {round(area_of_circle,2)}')

enter radius of circle: 33.4555

area of circle: 3514.51

In [59]:
# wap ask the user take height and breadth find the area of traingle
#       area_of_traingle=0.5*b*h
b=eval(input('enter breadth of triangle:'))
h=eval(input('enter height of triangle:'))

area_of_triangle=0.5*b*h
print(f'area of triangle: {round(area_of_triangle,2)}')

enter breadth of triangle: 10.5
enter height of triangle: 345.44444

area of triangle: 1813.58

In [64]:

# wap ask the user take 3 numbers find the average
n1=eval(input('enter no1:'))
n2=eval(input('enter no2:'))
n3=eval(input('enter no3:'))
avg=round((n1+n2+n3)/3, 2)
print(f' average of 3 numbers: {avg}')

enter no1: 10
enter no2: 20
enter no3: 30

 average of 3 numbers: 20.0

In [66]:

# wap ask the user take the bill amount and tip amount calculate total bill
bill_amt=eval(input('enter bill amount:'))
tip_amt=eval(input('enter tip amount:'))
total_bill=round(bill_amt+tip_amt,2)
print(f' total bill: {total_bill} rupees only')

enter bill amount: 102
enter tip amount: 20

 total bill: 122 rupees only

In [69]:
# wap ask the user take the salary, percetage of tax calculate tax amount
sal=eval(input('enter salary:'))
tax_per=eval(input('enter tax percentage:'))
net_sal=round(sal-(sal*tax_per/100),2)
print(f'salary after tax deduction: {net_sal}')

enter salary: 1000
enter tax percentage: 10

salary after tax deduction: 900.0

In [74]:

# wap ask the user take the value in dollar convert into rupees
#         1$=80rs
dollar_amt=eval(input('Enter Dollar amount(only numbers no special sybmols like $): '))
converation_rate=eval(input('Enter DOLLAR conversation rates to INR(1$=80): '))
inr_amount=dollar_amt*converation_rate
print(f' Amount in INR: {round(inr_amount, 4)} INR')

Enter Dollar amount(only numbers no special sybmols like $):  10.333
Enter DOLLAR conversation rates to INR(1$=80):  80.3

 Amount in INR: 829.7399 INR

In [77]:
# wap ask the use take weight in kgs convert into pounds
#     1kg=2.2pounds
weight_kg=eval(input('Enter weight in kg: '))
kg_to_pound=2.2
print(f' Weight in Pound: {round(weight_kg*kg_to_pound,2)}')

Enter weight in kg:  20.54

 Weight in Pound: 45.19

In [78]:
n1=100
n2=200
n3=n1+n22

NameError: name 'n22' is not defined