#Data type

In [2]:
int
float
bool
str
complex
range
list
tuple
dict
set
frozenset
bytearray
bytes
memoryview

memoryview

In [5]:
money=5000.75
type(money)

float

In [6]:
1e1

10.0

In [7]:
1e1, 1e2, 1e3, 1e4, 1e5

(10.0, 100.0, 1000.0, 10000.0, 100000.0)

In [8]:
print(1e1)
print(1e2)
print(1e3)

10.0
100.0
1000.0

In [9]:
1e+1,1e+2,1e+3

(10.0, 100.0, 1000.0)

In [10]:
# ML many notations epower
520e-10 #520/10000000000

5.2e-08

In [12]:
name='python'
type(name)

str

In [13]:
city="hyderabad"
city

'hyderabad'

In [15]:
# name : single quotes
# city : double quotes
name,city

('python', 'hyderabad')

In [16]:
print(name)

python

In [18]:
print(name, city)
# whenerver we print the answers with out quotes

python hyderabad

**tripe quotes**
- triple quotes are used to write multi lines
- if I want to write an information, I can use **markdown** in jupiter
- But in Vscode there is No markdown
- Then I can use triple quotes to convey the information
- This procedure is called as **doc string **
- in promot engineering also we will use multiple lines

In [24]:
"""today im learning python data type
these are very easy"""

'today im learning python data type\nthese are very easy'

In [1]:
9.45e-3 # 9.45/1000  0.00945

0.00945

In [3]:
name1='çity'
name2="city"
print(name1, name2)

çity city

In [5]:
'i like 'python''
"i like "python""

SyntaxError: invalid syntax (3514758586.py, line 1)

In [6]:
str1='i like "python"'
print(str1)

i like "python"

In [8]:
str2="i like 'python'"
print(str2)

i like 'python'

In [9]:
"python

SyntaxError: unterminated string literal (detected at line 1) (4138776589.py, line 1)

In [10]:
"python'

SyntaxError: unterminated string literal (detected at line 1) (141418140.py, line 1)

In [11]:
"python" # No error
'python'# NE
"python # End 
"python'# syntax error
'python" # syntax error

SyntaxError: unterminated string literal (detected at line 3) (2645268415.py, line 3)

boolean

- True incdicates 1, ON

- False indicates 0, OFF

In [13]:
true=True
false ='False'
true=100
false=true
True=10

SyntaxError: cannot assign to True (962727116.py, line 5)

In [14]:
true=True
type(true)

bool