- functions
-

In [2]:
import random
# def add():
#     print('add fuc')

# add()

add fuc

In [5]:
def taxCal():
    sal=eval(input('enter salary:'))
    taxPer=eval(input('eneter tax:'))
    tax=taxPer*sal/100
    net_sal=sal-tax
    print(net_sal)

taxCal()

enter salary: 10000
eneter tax: 10

9000.0

In [9]:
# def add():
#        a=10
#        b=10
#        print(a+b)
# add()

20

In [12]:
# def add(a, b):
#     c=a+b
#     print(c)
# add(10,20)

30

In [1]:
# s=10
# add=s+10
# add

#####################
# add=S+10
# s=10  # Name Error

NameError: name 'S' is not defined

In [3]:
def f1():
    add=S+10
    S=10
f1()

UnboundLocalError: cannot access local variable 'S' where it is not associated with a value

In [16]:
def addition10():
    global add1
    aa=100
    bb=200
    cc=300
    add1=aa+bb+cc
    print(f'the sum of {aa}, {bb} and {cc} are:{add} ')
addition10()

the sum of 100, 200 and 300 are:20

In [17]:
add1

600

In [7]:
def math_fun2():
    n1=eval(input('enter a number: '))
    n2=eval(input('enter a number: '))
    Add=n1+n2 # Local
    Sub=n1-n2 # Local
    print(f'the sum of {n1}, {n2} are: {Add}')
    print(f'the sum of {n1}, {n2} are: {Sub}')
    return(Add, Sub)


output=math_fun2() # two values save in tuple
Add,Sub=math_fun2() # two values in different variables
Sub1,Add1=math_fun2() # two values but wringly saving

enter a number:  10
enter a number:  2

the sum of 10, 2 are: 12
the sum of 10, 2 are: 8

enter a number:  3
enter a number:  10

the sum of 3, 10 are: 13
the sum of 3, 10 are: -7

enter a number:  1
enter a number:  4

the sum of 1, 4 are: 5
the sum of 1, 4 are: -3

In [38]:
def greet11(name,age):
    print(f"hello my name is:{name} and age is: {age}")

In [39]:
# greet11('python',10)

# greet11(name='python', 10)#error positional argument follows keyword argument
# greet11('python', age=10)
greet11(name='python', age=10)

hello my name is:python and age is: 10

In [20]:
def greet2(name,/,age):
    print(f"hello my name is:{name} and age is: {age}")

In [22]:
greet2('python',10)

hello my name is:python and age is: 10

In [30]:
import math
math.pow(2,3)
# math.pow(x=2,y=3)
# math.pow(2,y=3)

8.0

In [48]:
def greet3(name, *, age):
    print(f'hello my name is:{name} and age is: {age}')

greet3('python', 10)
# greet3(name='python', 10)
greet3('python', age=10)
greet3(name='python', age=10)

TypeError: greet3() takes 1 positional argument but 2 were given

In [71]:
def avg(*args):
    print(args)
    avg1=(a+b+c)/3
    print(avg1)

In [70]:
avg(1,2,4)

(1, 2, 4)

NameError: name 'b' is not defined

**args**

- we can provide many arguments as tuple
-

In [72]:
a=10,20,30
a

(10, 20, 30)

In [73]:
def avg():
    a=10
    b=20
    c=30
    avg1=(a+b+c)/3
    print(avg1)

avg()


def avg22():
    Value=10,20,50
    avg1=sum(Value)/3
    print(avg1)

avg22()

def avg123(*args):
    avg1=sum(args)/len(args)
    print(avg1)

avg123(110,20,30,40,50,60)

20.0
26.666666666666668
51.666666666666664

In [74]:
def avg(*args):
    avg1=sum(args)/len(args)
    print(avg1)

avg(10,20,30,40,50,60,80)

41.42857142857143

In [3]:
def add10(*a,b):
    print(f'{a}, {b} sum:{a+b}')

add10()

TypeError: add10() missing 1 required keyword-only argument: 'b'

**kwargs**
- keyword arguments
- we need to provide arguments using a variable
- a=10 and b=20
- the output come as dictinary
- a and b behave as keys, 10 and 20 behave as values

In [4]:
def f2(**kwargs):
    print(kwargs)

f2(name='python', age=10, city='hyderabad')

{'name': 'python', 'age': 10, 'city': 'hyderabad'}

In [14]:
def greet1():
    print('good morning')
    # greet2()

def greet2():

    print('good night')
    greet1()  

greet1()

good morning

In [20]:
def greet1():
    print('good monring')
    # greet2()

def greet2():
    greet1()
    print('good night')

greet1()

good monring

In [26]:
def add1():
    n1=100
    n2=200
    Sum=n1+n2
    print(f'sum {n1} and {n2} sum:{Sum}')

def Sub1():
    n1=100
    n2=200
    Sub=n1-n2
    print(f'the sub of {n1} and {n2} is: {Sub}')

In [27]:
def math_func():
    print('addition function starts')
    add1()
    print('Sub function starts')
    Sub1()
math_func()

addition function starts
sum 100 and 200 sum:300
Sub function starts
the sub of 100 and 200 is: -100

In [29]:
def math_func1():
    print('addition function starts')
    def add1():
        n1=100
        n2=200
        Sum=n1+n2
        print(f'the Sum of {n1} and {n2} is: {Sum}')
    print('Sub function starts')
    def Sub1():
        n1=100
        n2=200
        Sub=n1-n2
        print(f'the sub of {n1} and {n2} is:{Sub}')
    add1()
    Sub1()

math_func1()

addition function starts
Sub function starts
the Sum of 100 and 200 is: 300
the sub of 100 and 200 is:-100

In [35]:
def math_func1():
    print('addition function starts')
    def add2():
        Sum=n1+n2
        print(f'the sum of {n1} and {n2} is {Sum}')
    print('Sub function starts')

    def Sub2():
        Sub=n1-n2
        print(f'the sub of {n1} and {n2} is :{Sub}')
    
    add2()
    Sub2()
    
# math_func1(100,200)
math_func1()

addition function starts
Sub function starts

NameError: name 'n1' is not defined

- recursion fuction

In [6]:
def print_num(n):
    if n==0:
        return 0
    print(n)
    print_num(n-1)

print_num(10)

10
9
8
7
6
5
4
3
2
1

In [11]:
def print_num(n):
    print(n)
    print_num(n)

print_num(10)

#####################################

10

In [14]:

def print_num(n):
    if n==0:
        return 0
    print(n)
    print_num(n-1)

print_num(10)


#######################################

10
9
8
7
6
5
4
3
2
1

In [16]:
def print_num(n):
    print(n)
    if n==0:
        return 0
    print_num(n-1)

print_num(10)
##################################

10
9
8
7
6
5
4
3
2
1
0

In [19]:
def print_num(n):
    if n==0:
        return 0
    print_num(n-1)
    print(n)

print_num(10)

1
2
3
4
5
6
7
8
9
10

In [31]:

def Sum(n):
    if n==0:
        return 0
    ans=n+Sum(n-1)
    
    return ans
    

Sum(5)


# explaination:
#   ans=5+Sum(5-1) => 5+Sum(4) 
#       => 5+Sum(4-1) => 5+4+Sum(3) 
#                  => 5+Sum(3-1) =>5+4+3+Sum(2) 
#                         => 5+Sum(2-1) =>5+4+3+2+Sum(1) 
#                                => 5+Sum(1-1) =>5+4+3+2+1+Sum(0)
#                                                => 5+4+3+2+1+0 =15
#

15

In [41]:
# Can you implements power 2 power 3=2*2*2=8
# a,b
# 2 3  8


def Power(a,b):
    if b==0:
        return 1
    ans=a*Power(a, b-1)
    return ans

# Power(2,3)
# Power(3,3)
# Power(4,2)
Power(5,3)

125

In [42]:
range i 1 to 5:
    print(i)

SyntaxError: invalid syntax (3713185988.py, line 1)

In [44]:
print(0)
print(1)
print(2)
print(3)
print(4)

0
1
2
3
4

In [45]:
for i in range(5):
    print(i)

0
1
2
3
4

# start increment/decrement last
for i in range(5) 0 to 4
for i in range(10) 0 to 9
for i in range('range') #error

In [50]:
for i in range (10):
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [51]:
for i in range(15):
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [54]:
#wap

for i in range(3):
    n=eval(input('enter a number:'))
    print(f' {n} square of number: {n*n}')

enter a number: 10

 10 square of number: 100

enter a number: 1

 1 square of number: 1

enter a number: 2

 2 square of number: 4

Case - 2:range(start, stop)
-

In [55]:
for i in range(5,20):
    print(i, end=' ')

5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [56]:
for i in range(200,203):
    print('hello')

hello
hello
hello

In [58]:
for i in range(-3,15, 3):
    print(i)

-3
0
3
6
9
12

In [59]:
for i in range(-15,-3,3):
    print(i)

-15
-12
-9
-6

In [60]:
for i in range(-15,3,3):
    print(i)

-15
-12
-9
-6
-3
0

In [61]:
for i in range(-15, 15,2):
    print(i)

-15
-13
-11
-9
-7
-5
-3
-1
1
3
5
7
9
11
13

In [63]:
for i in 'python':
    print(i)

p
y
t
h
o
n

In [73]:
def div75():
    n=75
    
    for i in range(1,76):
     if 75%i==0: 
         print(i)

div75()

1
3
5
15
25
75

In [115]:
import random
for i in range(10):
    n=eval(input('enter a number: '))
    randNo=random.randint(1,10)
    if randNo==n:
        print('won')
        break
    else:
        print('lost')

enter a number:  2

lost

enter a number:  2

won

In [118]:
for i in range(5):
    if i==2:
        print('great')
        continue
        print('')
    print(i)

0
1
great
3
4

In [121]:
for i in range(5):
    if i==2:
        print('great')
        continue
        print('super')
    print(i)
    print('okay')

0
okay
1
okay
great
3
okay
4
okay

In [126]:
for i in range(5):
    if i==2:
        print('hai')
        pass
        print('hello')
    print(i)

0
1
hai
hello
2
3
4

In [127]:
for i in range(7):
    pass

In [128]:
i

6

- **continue** will skip the necxt linex for a iteration
     - It will jump to next iteration
- **pass** just allow the code to run
- **break** will stop the execution

**Sumation Wrapper**

**Summation wrapper**

**Summation wrapper**

In [133]:
even_sum=0
odd_sum=0
for i in range(1,75):
    if i%2==0:
        even_sum=even_sum+i;
    else:
        odd_sum=odd_sum+i

print(f'even_sum: {even_sum} odd_sum:{odd_sum}')

even_sum: 1406 odd_sum:1369

In [134]:
num=eval(input('enter the number which divisors you want:'))

enter the number which divisors you want: 1

**Counter wrapper**

In [144]:
count=0
for i in range(5):
    num=random.randint(1,100)
    if num%2==0:
        count=count+1
        print(f'{num} is even')
print(f'the number of even are {count}')

42 is even
94 is even
26 is even
18 is even
the number of even are 4

In [145]:
for i in range(5):
    num=random.randint(1,100)
    if num%2==0:
        count=count+1
        print(f'{num} is even')
print(f'the number if even are {count}')

52 is even
98 is even
14 is even
the number if even are 7