In [1]:
l=['hyd', 'bengaluru', 'pune', 'mumbai']
[i.capitalize() for i in l]

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [4]:
l=['hyd', 'bengaluru', 'pune', 'mumbai']
op=lambda i: i.capitalize() 
[op for i in l]

lambda i:i.capitalize()

In [7]:
add = lambda a,b: a+b
add(10,20)

30

In [ ]:
f1=lambda i:i.capitalize()

In [18]:
l=['hyd', 'bengaluru', 'pune', 'mumbai']
print(type(l))
print(type(lambda i: i.capitalize()))
obj=lambda i: i.capitalize(),l
print(type(obj))
print(obj)
print(type(map(lambda i:i.capitalize(),l)))

# [obj]

<class 'list'>
<class 'function'>
<class 'tuple'>
(<function <lambda> at 0x127037100>, ['hyd', 'bengaluru', 'pune', 'mumbai'])
<class 'map'>

[(<function __main__.<lambda>(i)>, ['hyd', 'bengaluru', 'pune', 'mumbai'])]

In [17]:
lambda i: i.capitalize()
print(type(lambda))

SyntaxError: invalid syntax (3121943611.py, line 2)

In [27]:
l=['hyd', 'benga#luru', 'pune', 'mum#bai']
#extract wala 
op=lambda i: i if '#' in i else '',l
[i if '#' in i else None for i in l]

#argument : i 
# expression: '#' in i
# True or False in only the expression

[None, 'benga#luru', None, 'mum#bai']

In [29]:
l=['hyd', 'benga#luru', 'pune', 'mum#bai']
lambda i: '#' in i
lambda i: '#' in i, l
map(lambda i: '#' in i, l)
list(map(lambda i: '#' in i, l))

[False, True, False, True]

In [31]:
l=['hyd', 'benga#luru', 'pune', 'mum#bai']
lambda i: '#' in i
lambda i: '#' in i, l
filter(lambda i: '#' in i,l)
list(filter(lambda i: '#' in i,l))

['benga#luru', 'mum#bai']

In [43]:
l=['1,4,9,16']
#wap get the square of each element
lambda i: i*i,l
map(lambda i: i*i,l)
# list(filter( lambda i:i*i, l))

In [80]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]

result = reduce(lambda a, b: a + b, numbers)
print(result)  # Output: 15

15

In [83]:
from functools import reduce
numbers = [1,2,3,4,5]
result= reduce(lambda a,b: a+b, numbers)
result

15

In [84]:
from functools import reduce
numbers = [1,2,3,4,5]
result = reduce(lambda a,b:a+b, numbers)
result

15

- $Dictionaries

In [54]:
names=['Ramesh', 'Suresh', 'Mahesh']
age=[20, 22, 24]

for i in range(0,len(names)):
    print(f'{names[i]} age is {age[i]}')

Ramesh age is 20
Suresh age is 22
Mahesh age is 24

In [57]:
# names[0] age is age[0]
# names[1] age is age[1]
# names[2] age is age[2]
names[0]
age[0]

20

In [61]:
l1=[10,20,30]
l2=[1,2,3]
l=[11,22,33]

for i in range(len(l1)):
    l[i]=l1[i]+l2[i]
l


[i+j for i,j in ranges(l1)]

NameError: name 'ranges' is not defined

In [63]:
name='ramesh'
age='20'
list(zip(name,age))

[('r', '2'), ('a', '0')]

In [73]:
names=['Ramesh', 'Suresh', 'Mahesh']
age=[20, 22, 24]

list(zip(names, age))

for i,j in zip(names, age):
    print(i,j)

Ramesh 20
Suresh 22
Mahesh 24

- Zip

In [75]:
names,age

(['Ramesh', 'Suresh', 'Mahesh'], [20, 22, 24])

In [76]:
zip(names, age)

In [77]:
list(zip(names,age))

[('Ramesh', 20), ('Suresh', 22), ('Mahesh', 24)]

In [79]:
for i in zip(names,age):
    print(i)
    print(type(i))

('Ramesh', 20)
<class 'tuple'>
('Suresh', 22)
<class 'tuple'>
('Mahesh', 24)
<class 'tuple'>

- zip is mainly used for both lists have same length
- if you want different length you can use it

In [89]:
l1=[10,20,30]
l2=['A', 'B' ]

for i in zip(l1,l2):
    print(i)

(10, 'A')
(20, 'B')

In [98]:
l1=[10,20,30,40]
l2=[1,2,3]

# l=[11,22,33,40]
l=[]

for i,j in zip(l1,l2):
    print(i+j)
    l.append(i+j)

11
22
33

In [113]:
l1=[10,20,30,40]
l2=[1,2,3]
l=[]

# for i in range(len(l1)):
#     if i<len(l2):
#         print(i)
#     else:
#         print(i)


# max_len=len(l1)>len(l2) ? len(l1):len(l2)
for i in range(5):
    if i<len(l1):
        print(l1[i])
        if i<len(l2):
            l.append(l1[i]+l2[i])
        else:
            
    else:
        print('out of range')
l

10
20
30
40
out of range

[11, 22, 33]

- zip means combine the two elements which are have some 
- Ramesh is realted with 20
- suresh is realted with 22
- these related values we can form a dictionary
- dictionary is a key-value pair
- represnt with {}
- {key:value}
- assume ramesh is key and 20 is value : {Ramesh:20}

In [114]:
d1={'Ramesh':20, 'Suresh':22, 'Mahesh':24}
d1

{'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24}

In [116]:
d2={20:'Ramesh', 22:'Suresh', 24:'Mahesh'}
d2

{20: 'Ramesh', 22: 'Suresh', 24: 'Mahesh'}

In [119]:
d1={'key':'value'}
type(d1)
dict d

dict

In [123]:
d1={'Ramesh': 20, 'Ramesh':22}
d1

{'Ramesh': 22}

In [124]:
dict5={'Ramesh': 20, 'Ramesh':22}
dict5

{'Ramesh': 22}

In [127]:
#Dulicates
dict6={'Ramesh': 20, 'Ramesh': 20,}
dict6

#dulicate not allwed on key

{'Ramesh': 20}

In [130]:
#keys can not be dulicate but value can.
dict7={'Ramesh': 20, 'Suresh': 20}
dict7

{'Ramesh': 20, 'Suresh': 20}

**IN DICTIONARY KEYS ARE IMPORTANT**

**IN DICTIONALY KEYS ARE IMPORTANT**

In [136]:
#HETRO GENIOUS
dict8={'Ramesh':20,
         20:'Suresh',
      True: False,
       (''):''
      }
dict8

{'Ramesh': 20, 20: 'Suresh', True: False}

In [ ]:
dict9={'Names': ['Ramesh', 'Suresh', 'Mahesh']}
dict9={'':[]}
dict9={'Frut':[]}

In [133]:
#list as key
dict12={['Ramesh', 'Suresh', 'Mahesh']: 'names'}

TypeError: unhashable type: 'list'

In [135]:
#tuple as key
dict12={('Ramesh', 'Suresh', 'Mahesh'): 'names'}
dict12

{('Ramesh', 'Suresh', 'Mahesh'): 'names'}

- dictionary in build fuctions
- max, min, len,sum sorted, reversed

In [5]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':20,'Ganesh':20,}
print(dict1, 'max:', max(dict1), 'min:',min(dict1))

{'Ramesh': 20, 'Suresh': 22, 'Mahesh': 20, 'Ganesh': 20} max: Suresh min: Ganesh

In [8]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':20,'Ganesh':20,}
sum(dict1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
dict2={24: 'Ramesh',21: 'Suresh',22: 'Ganesh',}
sum(dict2)

67

In [16]:
dict2={24: 'Ramesh',21: 'Suresh',22: 'Ganesh',}

sorted(dict2)

[21, 22, 24]

In [18]:
dict2={24: 'Ramesh',21: 'Suresh',22: 'Ganesh',}
reversed(dict2)
dict2

{24: 'Ramesh', 21: 'Suresh', 22: 'Ganesh'}

In [19]:
dict2[1]

KeyError: 1

In [20]:
dict1[0]

KeyError: 0

-  we can not extract element using indexing

- we can not extracg element usign idexing
-

In [30]:
# 'Ramesh':20  key:value
# 'Suresh': 22
# 'Maehsh': 24
# we can extract only values by using key
dict1={'Ramesh':20 , 'Suresh': 22, 'Mahesh': 24 }

dict1['Ramesh'], dict1['Suresh'], dict1['Mahesh']

(20, 22, 24)

In [34]:
d={}
d['Ramesh']=20
d['Suresh']=22
d['Mahesh']=24
d

{'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24}

In [36]:
names=['Ramesh', 'Suresh', 'Mahesh']
age=[20,22,24]

names,age

(['Ramesh', 'Suresh', 'Mahesh'], [20, 22, 24])

In [41]:
names=['Ramesh', 'Suresh', 'Mahesh', 'Ganesh']
age=[20,22,24,26]

d={}
print(d)
for i,j in zip(names,age):
    d[i]=j
d

{}

{'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24, 'Ganesh': 26}

In [44]:
numbers=[20,21,22]
d={}
for i in numbers:
    if i%2==0:
        d[i]='even'
    else:
        d[i]='odd'

d

{20: 'even', 21: 'odd', 22: 'even'}

In [46]:
numbers={2,5,7,6,4,2,3}
dd={}
for i in numbers:
    if i%2==0:
        dd[i]='even'
    else:
        dd[i]='odd'
dd

{2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd'}

In [50]:
names=['Ram','Ramesh', 'Suresh', 'Mahesh', 'Ganesh']
age=[10, 20,22,24,28]
{i:j for i,j in zip(names, age)}

{'Ram': 10, 'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24, 'Ganesh': 28}

In [51]:
dd={'Fruites': ['Apple', 'Banana', 'Cherry']}
dd

{'Fruites': ['Apple', 'Banana', 'Cherry']}

In [55]:
d={'Fruites': {'Apple': ['Kashmir']}}
d['Fruites']['Apple'][0]

'Kashmir'

In [58]:
d={'Fruites': [{'Apple': ['green apple']}]}
d

{'Fruites': [{'Apple': ['green apple']}]}

In [68]:
d={'Fruites': [{'Apple':['green apple']}]}
d['Fruites'][0]['Apple'][0]

'green apple'

In [80]:
d={'Fruites': [{'Apple': [{'kashmir': [{'India': ['NareshIT']}]}]}] }
d['Fruites'][0]['Apple'][0]['kashmir'][0]['India'][0]
dir(d)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [81]:
'clear', # dic clear 
'copy',
'fromkeys',
'get',
'items',
 'keys',
 'pop',
 'popitem',#delete item
 'setdefault',
 'update', #l1.extend(l2)
 'values' # only values

IndentationError: unexpected indent (3851777099.py, line 2)