In [1]:
a=100
b=200
c=a+b
c

300

In [2]:
a='100'
b='200'
c=a+b
c

'100200'

- in above case the both strings are mconcatenatedm
- if we want tot get a correct answer we need onvert string to integer
- this is the once example of <b>type cast</b>

<b>Integer to other data types</b>

In [7]:
# int to float
# int to str
# int to bool

In [8]:
num=100
type(num)

int

In [9]:
#int to float
num_float=float(num) # 100.0
num_float

100.0

In [10]:
num=100
str(num)

'100'

In [11]:
bool(num)

True

In [13]:
num=100
print(float(num))
print(str(num))
print(bool(num))

100.0
100
True

In [14]:
float(num), str(num),bool(num)

(100.0, '100', True)

In [15]:
float(100),str(100),bool(100)

(100.0, '100', True)

In [16]:
float(-100), str(-100), bool(-100)

(-100.0, '-100', True)

In [17]:
float(-100)
str(-100)
bool(-100)

True

In [18]:
bool(0)

# 1 True ON
# 0 False OFF

False

In [20]:
int(100.5)

100

In [21]:
str(100.5)

'100.5'

In [22]:
bool(100.5)

True

In [23]:
int(0.0), str(0.0), bool(0.0)

(0, '0.0', False)

In [25]:
#strin to other data types
'10'
'10.5'
'apple'

'apple'

In [26]:
int('10'),float('10'), bool('10')

(10, 10.0, True)

In [27]:
int('10.5'), float('10.5'), bool('10.5')

ValueError: invalid literal for int() with base 10: '10.5'

In [28]:
int('10.5'), float('10')

ValueError: invalid literal for int() with base 10: '10.5'

In [30]:
bool('10'),bool('-10'),bool('10.5'),bool('-10.5'),bool('0'),bool('')

(True, True, True, True, True, False)

In [1]:
num=100
num

100

In [2]:
print(num)

100

In [3]:
print(num=100)

TypeError: print() got an unexpected keyword argument 'num'

In [4]:
n1=10
n2=20
print(n1,n2)

10 20

In [5]:
print(n1)
print(n2)

10
20

In [6]:
print('hyderabad', 100, 100.5, True);

hyderabad 100 100.5 True

In [7]:
print(100 200) # error

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1985906199.py, line 1)

In [16]:
n1=1000
n2=200
n3=n1+n2
print("the addition of 100 and 200 is 300")
print("the addition of n1 and n2 is n3.")
print("the addition of", n1, "and", n2, "is", n3)
print("===")
print(f"the addition of {n1} and {n2} is {n3}")

the addition of 100 and 200 is 300
the addition of n1 and n2 is n3.
the addition of 1000 and 200 is 1200
===
the addition of 1000 and 200 is 1200

In [19]:
name='puthon'
age=10
city='hyderabad'
#my name is python Im 10 years old, came from Hyderabad
print("my name is",name, "Im", age, "years old, came from", city) 
print("format")
print("the addition of {} and {} is {}.".format(name,age,city));
print("===")
print(f"my name is {name} Im {age} years old, came from {city}")

my name is puthon Im 10 years old, came from hyderabad
format
the addition of puthon and 10 is hyderabad.
===
my name is puthon Im 10 years old, came from hyderabad

<b>fstring method</b>

In [21]:
print("7x2=14")
print("7x2=", 7*2)
print("7x2={}".format(7*2))
print(f"7x2={7*2}")

7x2=14
7x2= 14
7x2=14
7x2=14

In [28]:
n1=10
n2=20
n3=30
res=(n1+n2+n3)/3;
print(f"average of {n1}+{n2}+{n3} ={res}")
print(f"the average of {n1}, {n2} and {n3} is:{res}")

average of 10+20+30 =20.0
the average of 10, 20 and 30 is:20.0

In [6]:
#wap ask the user take two number print substraction multiplcation and division
n1=10
n2=20
print(f"subraction {n2-n1} multiplication : {n1*n2} division: {n2/n1}")

#Wap ask the user take the radius find the area of circle
pi=3.142 
r=100
#area_of_circle=pi*r*r

print(f"area_of_circle=pi*r*r : {pi*r*r}")

#wap ask the user take height and breadth find the area of triangle
b=20
h=30
print(f" area of trigle {b} * {h}: {0.5*b*h}")

#wap ak the user take 3 m=number find the avearge
n3=30
res=(n1+n2+n3)/3
print(f"average of 3 numbers: {res}")

#wap ak the user take the bill amount and trip amount calcuate total bill
bill_amt=100
trip_amt=500
print(f" bill_amount:{bill_amt}+ trip_amt:{trip_amt}: {bill_amt+trip_amt}")

#wap ak the user take salary, percetage of tax calculatat tax amount
salary=10000
tax=10

total_sal=salary-(salary/(tax*100))
print(f"salary{salary}, tax: {tax} after tax:{total_sal}")

# wap ask the user take the value in dollar convert into rupees
#         1$=80rs
dollar=80
amount=1000
print(f" Current dollar rates 1$=80rs, Amount in Dollar : {amount}$ & Amount in Rupees : {amount*dollar}INR")


# wap ask the use take weight in kgs convert into pounds
#     1kg=2.2pounds
weight=100 #in kgs
pound_per_kg=2.2
print(f" weight in kg: {weight}kg, weight in pounds: {weight*pound_per_kg}pounds")

subraction 10 multiplication : 200 division: 2.0
area_of_circle=pi*r*r : 31420.0
 area of trigle 20 * 30: 300.0
average of 3 numbers: 20.0
 bill_amount:100+ trip_amt:500: 600
salary10000, tax: 10 after tax:9990.0
 Current dollar rates 1$=80rs, Amount in Dollar : 1000$ & Amount in Rupees : 80000INR
 weight in kg: 100kg, weight in pounds: 220.00000000000003pounds